.portfolio {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;

  &__article {
    // width: 90%;
    max-width: 350px;
    margin-bottom: 30px;

    &--img-wrapper {
      width: 100%;
      height: 300px;
      overflow: hidden;
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          transform: scale(1.2);
          filter: grayscale(1);
        }
      }
    }

    &--text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h5 {
        color: $color-002;
        @include rem(24);
        margin: 0;
        max-width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .likes {
        color: $color-002;
        @include rem(24);
        font-weight: 400;
        i {
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
  }
}
